.timeline-container {
  max-width: 600px;
  background-color: #29293d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.timeline-title {
  font-size: 1.2rem;
  color: #a6e22e;
  margin-bottom: 20px;
}

.timeline {
  position: relative;
  padding-left: 30px;
  border-left: 2px solid #4e4e6a;
}

.timeline-event {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
}

.timeline-event:last-child {
  margin-bottom: 0;
}

.timeline-event::before {
  content: "";
  position: absolute;
  left: -9px;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: #4e4e6a;
  border-radius: 50%;
  border: 2px solid #29293d;
}

.timeline-event-date {
  font-size: 0.9rem;
  color: #c0c0dd;
  margin-bottom: 5px;
}

.timeline-event-description {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.5;
  white-space: pre-line;
}

/* --------------styleContact.css---------------- */
.container {
  display: flex;
  gap: 2rem;
  max-width: 1200px;
  padding: 2rem;
}

.form-section {
  flex: 2;
}

.form-section h1 {
  font-size: 2rem;
  color: #7cff4c;
  margin-bottom: 2rem;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form-container textarea {
  grid-column: span 2;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  background-color: #1e1e1e;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  font-size: 1rem;
}

input::placeholder,
textarea::placeholder {
  color: #5a5a5a;
}

.submit-button {
  margin-top: 1.5rem;
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  color: #7cff4c;
}

.contact-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-item span {
  font-size: 1rem;
  color: #7cff4c;
}

.contact-item p {
  margin: 0;
  font-size: 1rem;
}
